In [2]:
import pandas as pd

### Question 1

Question: How do you select rows from a DataFrame where any value in the row exceeds a threshold?

```python
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30
```

In [5]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]})
threshold = 30

df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [8]:
df[(df > threshold).any(axis="columns")]

   A   B
3  4  40
4  5  50

### Question 2

Question: How do you sort a DataFrame by columns `A` and `B`?

```python
df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})
```

In [9]:
df = pd.DataFrame({'A': [2, 1, 2], 'B': [2, 3, 1], 'C': [1, 2, 3]})

df

   A  B  C
0  2  2  1
1  1  3  2
2  2  1  3

In [10]:
df.sort_values(by=["A", "B"])

   A  B  C
1  1  3  2
2  2  1  3
0  2  2  1

### Question 3

Question: How do you concatenate two DataFrames vertically?

```python
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})
```

In [11]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

In [12]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [13]:
df2

   A   B
0  7  10
1  8  11
2  9  12

In [15]:
pd.concat([df1, df2])

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

### Question 4

Question: How do you compute the cumulative sum of a column in a DataFrame?

```python
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})
```

In [16]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})

df

   A
0  1
1  2
2  3
3  4
4  5

In [17]:
df.cumsum()

    A
0   1
1   3
2   6
3  10
4  15

### Question 5

Question: How do you convert a Series of strings to uppercase?

```python
series = pd.Series(['apple', 'banana', 'cherry'])
```

In [18]:
series = pd.Series(['apple', 'banana', 'cherry'])

series

0     apple
1    banana
2    cherry
dtype: object

In [19]:
series.str.upper()

0     APPLE
1    BANANA
2    CHERRY
dtype: object